#navibar {
	background-color: #579CA1;
}

.headers{
	color: #579CA1; 
	padding-top: 30px; 
	padding-left: 50px;
	padding-bottom: 25px;
}

.container{
	padding-top: 50px;
	padding-bottom: 50px;
}

#btnsubmit{
	text-align: center;
}

#register{
	padding-bottom: 25px;
}

#nama{
	width: 253px;
}

p{
	padding-left: 50px;
	padding-right: 50px;
}